<style>
  img {
    display: block;
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }

  :global(.transparent-body) a {
    visibility: hidden;
  }
</style>

<a href="/">
  <img alt="Sam E. Lawrence" src="/assets/my-notion-face-transparent.png" width="90" height="90" />
</a>
